{% load static %}
<!DOCTYPE html lang="fr">
<html>
<head>
    <title>{% block title %} monPorteFolio {% endblock%} </title>
    <link rel="stylesheet" type="text/css" href="{% static 'css/style.css' %}">
    <script src="{% static 'js/script.js' %}"></script>
</head>
<body>
    <header><h1> {% block titleAff%} {%endblock%}</h1></header>
    <div id="wrapper">
        <div id="sidebar">
            <ul>
                <li><a href="/polls">
                    Menu principal
                    </a>
                </li>
                <li>
                    <a href="/polls/projets">
                        mes projets
                    </a></li>
                <li>
                    <a href="/polls/contact">
                        Contact
                    </a></li>
            </ul>
        </div>
        <div id="content">
            <div>
                <!-- Contenu de la div -->
                {% block content%}{%endblock%}
            </div>
        </div>
    </div>
    <footer> Fait par Altior1, copyright 2023</footer>
</body>
</html>     