{% extends 'polls/base.html' %}
{% block title %} Contact {% endblock %}
{% block titleAff %} Les moyens de me contacter {% endblock %}
{% block content %} <h6>Mon LinkedIn </h6> <a href="www.linkedin.com/in/thomas-rudloft-90b4b4256"> Thomas Rudloft </a>
                    <br>
                    <h6>Mon github </h6> <a href="https://github.com/Altior1"> Altior1 </a>
                    <br>
                    <h6> si vous désirez m'envoyer un mail </h6> <a href="mailto:thomas.rud@outlook.fr">thomas.rud </a>

{% endblock%}